*{
	margin: 0;
	padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/*font-family: 'Playfair Display', serif;
font-family: 'Ubuntu', sans-serif;*/
a{
	text-decoration: none;
}
.container{
	width: 1140px;
	margin: auto;
}

.header{
	padding: 32px 0px;
}
.navbar{
	display: flex;
	justify-content: space-between;
}

.menu{
	text-align: right;
}
.menu ul li{
	list-style: none;
	display: inline-block;
	margin-left: 50px;
	text-transform: uppercase;
	font-family: 'Playfair Display', serif;

}
.menu ul li a{
		text-decoration: none;
		color: #a1a1a1;
		font-size: 16px;
}
.inner-container{
	width: 80%;
	margin: auto;
	padding:60px 0;
}

.category{
	font-family: 'Ubuntu', sans-serif;
	color: #a1a1a1;
	text-transform: uppercase;
}

.title{
	font-family: 'Playfair Display', serif;
	color: #a1a1a1;
	margin: 15px 0px;
	font-weight: 400;

}
.disc{
	font-family: 'Playfair Display', serif;
	color: #a1a1a1;
	margin-bottom: 20px;
}
.comment{
	font-family: 'Ubuntu', sans-serif;
	color: #a1a1a1;
	text-transform: uppercase;
}

.gallery{
	display: flex;
}
.item-1{
	margin-right: 20px;
}
.item-2{
	margin-left: 20px;
}

.gallery .category{
	margin-top: 20px;
}

.bottom{
	margin-top: 60px;
}

.newsletter{
	width: 100%;
	background-color: #f0f0f0;
	padding: 60px 0;
	text-align: center;
}
.subscribe-form h1{
	font-family: 'Playfair Display', serif;
	color: #626262;
	font-weight: 400;
	margin-bottom: 32px;
}

.subscribe-form form input{
	border: none;
	padding: 15px 0px 8px 0px;
	width: 300px;
	border-bottom: 1px solid;
	background: transparent;
}
.subscribe-form form input:focus{
	outline: 0;
}
.subscribe-form form input::placeholder{
	font-family: 'Playfair Display', serif;
	color: #626262;
}
form{
	position: relative;
	display: inline-block;;
}
.submit-icon{
	position: absolute;
	top:15px;
	right: 0;
	color: #626262;
}

.load-more{
	text-align: center;
	margin: 60px 0px 32px 0px;
}

.load-more button{
	padding: 20px 42px;
	background: transparent;
	border: 1px solid black;
}
.load-more button:hover{
	cursor: pointer;
	background-color: black;
	color: white;
}
.footer{
	width: 100%;
	background-color: #f0f0f0;
	padding: 20px 0px;
}
.footer-info{
	display: flex;
	justify-content: space-between;
}
.footer-info ul li{
	list-style: none;
	display: inline-block;
}
.footer-menu ul li{
	margin-right: 20px;
	font-family: 'Playfair Display', serif;
	color: #626262;
	font-size: 16px;
}


.footer-icon ul li{
	margin-left: 20px;
}

.footer-icon ul li a{
	color: #626262;
}